@import "./variables";
@import "./mixin.scss";

.wrapper-country-details {
  padding: 1rem;
}

.back-button {
  border: none;
  background-color: var(--elm);
  color: var(--txt);
  padding: 0.625rem 1rem;
  font-weight: 600;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.25rem 0 rgba(0, 0, 0, 0.1);
  transition: transform 0.1s ease-out;
  cursor: pointer;
  margin-bottom: 1rem;
  &:hover {
    transform: scale(1.06);
  }
}

.bolder-text {
  font-weight: 600;
}

.country {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @include large {
    flex-direction: row;
    justify-content: center;
  }
  &__wrapper-img {
    @include large {
      max-width: 25rem;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      @include large {
        flex-direction: row;
      }

      &__first-details {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
      &__second-details {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
    }
  }
  &__borders {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include large() {
      flex-direction: row;
      align-items: center;
    }
    &__title {
      font-weight: 600;
      @include large() {
        min-width: fit-content;
      }
    }
    &__liste {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      gap: 1rem;
      @include large {
      }

      &__item {
        background-color: var(--elm);
        padding: 0.4rem 1rem;
        box-shadow: 0 0 0.25rem 0 rgba(0, 0, 0, 0.1);
        color: var(--txt);
      }
    }
  }
}
