@import "./variables";
@import "./mixin.scss";

.error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  gap: 2rem;
  &__button {
    border: none;
    background-color: var(--elm);
    color: var(--txt);
    padding: 0.625rem 1rem;
    font-weight: 600;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    border-radius: 0.25rem;
    box-shadow: 0 0 0.25rem 0 rgba(0, 0, 0, 0.1);
    transition: transform 0.1s ease-out;
    cursor: pointer;
    margin-bottom: 1rem;
    &:hover {
      transform: scale(1.06);
    }
  }
}
