@import "./variables";

.header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  background-color: var(--elm);

  &__text {
    font-size: 0.875rem;
    font-weight: 800;
    color: var(--txt);
  }

  &__button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background: none;
    color: var(--txt);
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 0.875rem;
    transition: transform 0.1s ease-out;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.fa-moon {
  transform: rotate(-10deg);
}
